body {
      background: #f8fafb;
      font-family: 'Roboto', sans-serif;
    }

.navbar {
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      transition: background-color 0.3s ease;
}
.navbar-nav .nav-link {
      font-weight: 500;
      transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
      color: #941C34;
}

.navbar-brand{
      height: 100px; 
      width:180px;
}
    
.bg-custom{
      background-color: #941C34;
}

.category-card {
      cursor: pointer;
      transition: transform 0.2s;
}

.category-card:hover {
      transform: translateY(-5px) scale(1.03);
      box-shadow: 0 4px 12px rgba(60, 98, 255, 0.12);
}
    

.timeline-dot {
      width: 16px;
      height: 16px;
      background: #941C34;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      top: 2px;
}

.text-custom{
      color: #941C34
}

.btn-custom-red {
      border-color: #941C34;
      color: #941C34;
}
.btn-custom-red:hover {
      background-color: #941C34;
      color: #fff;
}

footer {
      background: #941C34;
}
.footer-link {
      color: #ddd;
      text-decoration: none;
      position: relative;
      transition: all 0.3s ease;
}
    .footer-link::after {
      content: '';
      width: 0;
      height: 2px;
      background: #ffd700;
      position: absolute;
      left: 0;
      bottom: -3px;
      transition: width 0.3s ease;
}
    .footer-link:hover {
      color: #ffd700;
}
    .footer-link:hover::after {
      width: 100%;
}
