/* Homepage styles WITHOUT faculty grid */
body {
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  height: 100px;
  width: 180px;
}

h2 {
  margin-left: 15px;
}

.banner-section {
  height: 500px;
  background: url("https://pcu.edu.in/assets/images/slider2/B.Tech_AI_&_ML.webp")
    no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

#carouselExampleControls {
  height: 500px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

#carouselExampleControls .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-section {
  padding: 50px 0;
}

.card-custom {
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-custom:hover {
  transform: translateY(-8px);
}

.hod-message {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  min-height: 120px;
}

.section-title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #941c34;
}

.bg-custom {
  background-color: #941c34;
  height: 250px;
  margin-bottom: 20px;
  z-index: 0;
}

.foot-txt-main {
  z-index: 1;
  position: relative;
  top: 30px;
  margin-left: 50px;
}
